@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2fa2b6;
}

.principal-container {
    background-color:#fdfdfd;
    width: 350px;
    height: 370px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
    box-shadow: -2px 4px 16px -6px rgba(0, 0, 0, 0.6);
}

.color-container {
    height: 130px;
    width: 350px;
    background-image: url('img/bg-pattern-card.svg');
    background-color: #4dc4da;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    background-color: white;
    border-radius: 100%;
    height: 108px;
    width: 108px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 150px; 
}
.profile-picture {
    border-radius: 100%;
}

.text-container {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: #000;
    font-weight: 800;
    margin-top: -20px;
}

.age {
    margin-left: 10px;
}

.age, .location {
    font-weight: 400;
    color: #696969;
}

.location {
    text-align: center;
    margin-top: -5px;
}

.social-features {
    display:  flex;
    width: 350px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #dee0e7;
    justify-content: space-evenly;
}

.items {
    text-align: center;
}

.items > h2 {
    font-size: 18px;
}
.items > p {
    margin-top: -7px;
    font-size: 13px;;
    color: #696969;
}